<p-toast />
<p-confirmdialog />
<div class="layout">
  <aside class="sidebar">
    <div class="logo">
      <i class="pi pi-gift"></i>

      <span> Brindes Manager </span>
    </div>

    <nav class="menu">
      @if (authService.isAdmin()) {
      <a routerLink="/users" routerLinkActive="active">
        <i class="pi pi-user"></i>
        Usuários
      </a>

      <a routerLink="/company" routerLinkActive="active">
        <i class="pi pi-building"></i>
        Empresa
      </a>
      }

      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="pi pi-home"></i>
        Dashboard
      </a>

      <a routerLink="/customers" routerLinkActive="active">
        <i class="pi pi-users"></i>
        Clientes
      </a>

      <a routerLink="/categories" routerLinkActive="active">
        <i class="pi pi-tags"></i>
        Categorias
      </a>
      <a routerLink="/products" routerLinkActive="active">
        <i class="pi pi-box"></i>
        Produtos
      </a>

      <a routerLink="/orders" routerLinkActive="active">
        <i class="pi pi-shopping-cart"></i>
        Pedidos
      </a>
    </nav>
  </aside>

  <main class="content">
    <header class="topbar">
      <div class="topbar-user">
        <h2>Olá, {{ authService.getUserName() }} 👋</h2>

        <span>
          {{ authService.getCompanyName() }} • {{ authService.getRoleLabel() }}
        </span>
      </div>

      <div class="topbar-actions">
        <p-button
          [label]="themeService.isDark() ? 'Tema claro' : 'Tema escuro'"
          [icon]="themeService.isDark() ? 'pi pi-sun' : 'pi pi-moon'"
          severity="secondary"
          [text]="true"
          (onClick)="themeService.toggle()"
        />

        <p-button
          label="Sair"
          icon="pi pi-sign-out"
          severity="secondary"
          [text]="true"
          (onClick)="logout()"
        />
      </div>
    </header>

    <router-outlet />
  </main>
</div>
